%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    = javascript_include_tag "mosaics_index.js"
  %body
    %div{:id => "menu"}
      %ul
        %li= link_to "New Mosaic", new_mosaic_path()
        %li= link_to "Gallery", gallery_path()
        %li{:style => "float: right;"}
          %div{:id => "timer-bar", :style => "width: 5em; height: 1.5em;"}
            %div{:id => "timer", :style => "margin: 0px; height: 1.5em", :onclick => 'submit();'}
    
    -#%h1{:align => "center"} Mosaic Construction Test
    -#- if flash[:notice]
    -#  %h2{:align => "center"} #{flash[:notice]}
    
    #centerer.centerer
      #selection.selection
        %table#selection_colors{:align => "center"}
          - @all_colors.each_slice(11).with_index do |slice, row|
            %tr
              - slice.each_with_index do |color, column|
                %td{:align => "center"}
                  .block{:id => "src#{11 * row + column}", :style => "background-color: #{color};"}
    #centerer.centerer
      #mosaic.mosaic
        %table{:align => "center"}
          - @mosaic.grid.split.each_slice(10).with_index do |slice, row|
            %tr
              - slice.each_with_index do |color, column|
                %td{:align => "center"}
                  - if color == 'transparent'
                    .block{:id => 10 * row + column}
                  - else
                    .block{:id => 10 * row + column, :style => "background-color: #{color};"}
    %div{:id => "APPDATA", :mosaic_id => @mosaic.id, :style => "display: none;"}
